<!DOCTYPE html>

<head>
    <title>CRUD OPERATION WITH POSGRES</title>
</head>
<center>
    <h1>How to Create operation with DJANGO</h1>
    <h3>TUTORIEL DJANGO WEB</h3>
    <hr/>
    <strong><a href="{% url 'insert' %}">Ajouter un nouveau employee </a></strong>
    <table border="1">
        <tr>
            <th>Employee Id</th>
            <th>NomEmploye</th>
            <th>PrenomEmployee</th>
            <th>Date_naissance</th>
            <th>Adresse</th>
            <th>Genre</th>
        </tr>
        {% for resultat in donnee %}
        <tr>
            <td>{{ resultat.id }}</td>
            <td>{{ resultat.nom }}</td>
            <td>{{ resultat.prenom }}</td>
            <td>{{ resultat.date_naissance }}</td>
            <td>{{ resultat.salaire }}</td>
            <td>{{ resultat.genre }}</td>
            <td><a href="{% url 'edit' resultat.id %}">Modifier</a></td>
            <td><a href="{% url 'delete' resultat.id %}" onclick="return confirm('voulez-vous Supprimer cet employe')">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

</html>